/* Rules for all web pages */
body {
  background-color: azure;
  padding: 10px;
}
h1, h2 {
  margin: 0px;
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}
p {
  background-color: hsl(120,80%,90%); /*lighter lightgreen*/
  padding: 0px 20px;
  text-align: justify;
}