/* Rules for all web pages */
body {
  background-color: azure;
  padding: 10px;
}
h1, h2 {
  margin: 0px;
  background-color: lightgreen;
  padding: 10px;
  text-align: center;
}
p {
  background-color: hsl(120,80%,90%); /*lighter lightgreen*/
  padding: 0px 20px;
  text-align: justify;
}

/* Rules for interpage navigation */ 
nav ul {
  list-style-type: none;
  text-align: center;
  padding-left: 0px; 
}
nav li {
  display: inline-block;
  padding: 0px 4px 2px 4px;
  margin: 2px 4px 2px 4px;
  background-color: lightgoldenrodyellow;
  border: outset;
  border-color: lightgreen;
}
nav a {text-decoration: none;}

/* Rule to reduce space above header in home-page with iframe */
h2 {margin-top: -15px;}